body {
  font-family: Arial, sans-serif;
  background-color: #35588b;
  color: #74f07a;
  padding: 20px;
}

h1 {
  color: #000852;
}

a {
  text-decoration: none;
  color: #ff00d4;
}

img {
  display: block;
  margin: 20px auto;
  border-radius: 10px;
}
